body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.flex {
  display: flex;
  flex: 1;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: white;
  border-radius: 0.1rem;
}

.container {
  height: 100vh;
  flex-flow: column;
}

.container > header {
  background-color: teal;
  padding: 1rem 3rem;
  flex: 0 1 auto;
}

.container > header > .title {
  align-items: center;
  flex: 0 1 auto;
}

.container > header > .title > a {
  font-size: x-large;
  font-family: "Satisfy", cursive;
  transition: all 0.15s ease;
}

.container > header > .title > a:hover,
.container > header > .title > a:focus {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.container > header > .nav-bar {
  flex: 0 1 auto;
  align-items: center;
  display: none;
}

.container > header > .nav-container {
  justify-content: right;
  align-items: center;
  flex: 0 1 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container > header > .nav-container > .nav-text {
  margin: 0 1rem;
}

.container > header > .nav-container > .nav-text > a {
  transition: all 0.15s ease;
}

.container > header > .nav-container > .nav-text > a:hover,
.container > header > .nav-container > .nav-text > a:focus {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.container > header > .nav-container > .nav-text > a.active,
.container > header > .nav-container > .nav-text > a:hover,
.container > header > .nav-container > .nav-text > a:focus {
  border-bottom: 0.1rem solid;
}

.container > header > .nav-cover {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
}

.container > header.invert {
  background-color: white !important;
  color: black;
  box-shadow: 0 0.05rem 0.15rem 0 #AAAAAA;
  position: relative;
  z-index: 5;
}

.container > header.invert > .title > a:hover,
.container > header.invert > .title > a:focus {
  color: teal;
}

.container > header.invert > .nav-container > .nav-text > a.active,
.container > header.invert > .nav-container > .nav-text > a:focus,
.container > header.invert > .nav-container > .nav-text > a:hover {
  -webkit-filter: none;
          filter: none;
  color: teal;
}

.container > .content {
  padding: 3rem;
  flex: 1 1 auto;
}

.container > .content > .title {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.container > .content > .title > .title-text.invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.container > .content > .title > .title-text.invert > span {
  background: teal;
}

.container > .content > .desc {
  letter-spacing: 0.2rem;
}

.container > .content > .calculator {
  margin-top: 2rem;
  flex-direction: column;
}

.container > .content > .calculator > form {
  width: 100%;
  flex-flow: row wrap;
  flex-basis: 100%;
}

.container > .content > .calculator > form > input {
  flex-grow: 4;
  margin-right: 1rem;
  padding: 1rem;
  font-size: inherit;
}

.container > .content > .calculator > form > .separator {
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.container > .content > .calculator > form > button {
  flex-grow: 1;
  margin-left: 1rem;
  padding: 1rem;
  font-size: inherit;
  cursor: pointer;
}

.container > .content > .calculator > .modes {
  margin-top: 1rem;
}

.container > .content > .calculator > .modes > .mode {
  flex: 1 1 0;
  padding: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-weight: 400;
  background-color: turquoise;
  box-shadow: 0 0 0.15rem 0 #666666;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

.container > .content > .calculator > .modes > .mode.active,
.container > .content > .calculator > .modes > .mode:hover,
.container > .content > .calculator > .modes > .mode:focus {
  background-color: white;
}

.container > .content > .calculator > .result {
  margin-top: 1rem;
  flex-flow: row wrap;
}

.container > .content > .calculator > .result > input {
  flex-grow: 3;
  margin-right: 1rem;
  padding: 1rem;
  font-size: inherit;
  cursor: not-allowed;
}

.container > .content > .calculator > .result > button {
  flex-grow: 1;
  margin-left: 1rem;
  padding: 1rem;
  font-size: inherit;
  cursor: pointer;
}

.container > .content > .types > .type {
  flex: 1 1 0;
  padding: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-weight: 400;
  background-color: turquoise;
  box-shadow: 0 0 0.15rem 0 #666666;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

.container > .content > .types > .type:last-child {
  margin: 0;
}

.container > .content > .types > .type.active,
.container > .content > .types > .type:hover,
.container > .content > .types > .type:focus {
  background-color: white;
}

.container > .content > .table-container {
  margin-top: 2rem;
  background-color: white;
}

.container > .content > .table-container > table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 0.15rem 0 #AAAAAA;
  table-layout: fixed;
}

.container > .content > .table-container > table th,
.container > .content > .table-container > table td {
  padding: 0.5rem;
  border: 0.1rem solid #AAAAAA;
}

.container > .content > .table-container > table > thead > tr {
  background-color: turquoise;
}

.container > .content > .table-container > table td {
  text-align: center;
}

.container > .content.invert {
  background-color: white;
}

@media all and (max-width: 640px) {
  .container > header {
    padding: 1rem;
    flex-shrink: 0;
  }

  .container > header > .nav-bar {
    display: flex;
  }

  .container > header > .nav-bar > i {
    cursor: pointer;
    transition: all 0.15s ease-out;
  }

  .container > header > .nav-bar > i:nth-child(2) {
    transform: rotate(-90deg);
    opacity: 0;
    position: absolute;
  }

  .container > header > .nav-bar.active > i:nth-child(1) {
    transform: rotate(90deg);
    opacity: 0;
  }

  .container > header > .nav-bar.active > i:nth-child(2) {
    transform: rotate(0);
    opacity: 1;
  }

  .container > header > .nav-container {
    flex-flow: column wrap;
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 5;
    box-shadow: 0 0.15rem 0.15rem 0 #AAAAAA;
  }

  .container > header > .nav-container.active {
    display: flex;
    background-color: white;
  }

  .container > header > .nav-container.active > .nav-text {
    margin: 0.5rem 1rem;
  }

  .container > header > .nav-container.active > .nav-text > a:hover,
  .container > header > .nav-container.active > .nav-text > a:focus {
    -webkit-filter: none;
            filter: none;
    color: teal;
  }

  .container > header > .nav-container.active + .nav-cover {
    display: block;
  }

  .container > .content {
    justify-content: center;
  }

  .container > .content > .title {
    text-align: center;
    font-size: xx-large;
  }

  .container > .content > .desc {
    font-size: small;
  }

  .container > .content > .calculator {
    display: flex;
    justify-content: center;
  }

  .container > .content > .calculator > form {
    flex-flow: row wrap;
  }

  .container > .content > .calculator > form > input,
  .container > .content > .calculator > form > .separator,
  .container > .content > .calculator > form > button {
    flex-basis: 100%;
    margin: 0.5rem 0;
  }

  .container > .content > .calculator > .modes {
    flex-direction: row;
    padding: 1rem 0;
    overflow-x: auto;
  }

  .container > .content > .calculator > .modes > .mode {
    margin: 0;
    flex-basis: 100%;
    margin: 0 0.5rem;
  }

  .container > .content > .calculator > .result > input,
  .container > .content > .calculator > .result > button {
    margin: 0.5rem 0;
  }

  .container > .content > .types {
    padding: 1rem 0;
    overflow-x: auto;
  }
}

